@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none; 
}

body{
    font-family: 'Poppins', sans-serif;
   
   
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 35px;
   /* .background-image: url(../img/11.jpg);*/
    background-color: #FFF5E4;
   
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}
.logo{
    color:black;
    margin-left: -10px;
    font-size: 40px;
    font-weight:bold;
    text-transform: uppercase;
}

.hu{
    color: #FFA725;
    font-weight: bold;
    background: #515151;
    border: 1PX solid #FFA725;
    padding: 5PX;
    margin: 05px;
    font-size: 35px;
}

/*texto hulul*/
.texto_hulu{
    font-size: 18px;
    
}

/*titulo de nuestro servicios*/
.S{
    color: #FFA725;
    font-weight: bold;
    background: #515151;
    border: 1PX solid #FFA725;
    padding: 1PX;
    margin: 10px;
    font-size: 40px;
}

.eventos-destacados{
     background-color: #e2ded3;
}

/*estilos de mesas*/
.mesas{
    margin-top: -35px;
}
.h2_title{
    font-size: 40px;
    font-weight: bold;
}
.M{
     color: #FFA725;
    font-weight: bold;
    background: #515151;
    border: 1PX solid #FFA725;
    padding: 1PX;
    margin: 10px;
}

/*estilos de mesas*/
.menu .navbar ul{
    display: flex;
}

.menu .navbar ul li a{
   font-size: 18px;
   padding: 0 20px;
   color:black;
   font-weight: 600;
   display: block;
}


.menu .navbar ul li a:hover{
    color:#FFA725;
}

#menu{
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.header-text {
    flex-basis: 50%;
    padding-right: 80px;
    position: relative;
    left: 35px;
}
.header-text p{
    color: black;
}

.header-text h1{
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    color: black;
    margin-bottom: 15px;
}

p{
   font-size: 18px;
   color: #515151;
   margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 10px 15px;
    color:black;
    background-color: #FFA725;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 16px;
   transition: all ease 0.5s;
}

.btn-nav{
    display: inline-block;
    padding: 8px 15px;
    color:black;
    background-color: #FFA725;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 13px;
    transition: all ease 0.5s; 
    margin-top: -10px;
    position: relative;
    left: 30px;
    margin-right: 20px;
    bottom: -9px;
}
.btn-nav:hover{
    color: white;
}

.btn-1:hover{
    background-color: gold;
    color: white;
    
}

/*botones palcos*/
.btn-2-a, .btn-2-b, .btn-2-c{
    position: relative;
    left: 35%;
    
}


/* ancho del contenedor img*/
.header-img{
    flex-basis: 50%;
}

.header-img img{
    height: 400px;
    margin-left: 120px;
    margin-top: -50px;
    position: relative;
    left: 45px;
    
}

/*imaen en movimiento*/
@keyframes mover{
    0%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(20);
    }
    100%{
        transform: translatey(43px);
    }
}

.header-img img{
    animation: mover 2s infinite alternate ease-in-out;
}