/* Estilo del botón de navegación */
.btn-nav {
    display: inline-block;
    padding: 12px 20px;
    color: black;
    background-color: #FFA725;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease; /* Transición más suave */
    cursor: pointer;
    position: relative;
    bottom: -9px;
    margin-right: 20px;
    box-shadow: 0 4px 12px rgba(255, 167, 37, 0.6); /* Sombra suave */
}

.btn-nav:hover {
    color: white;
    background-color: gold;
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 8px 20px rgba(255, 167, 37, 0.7); /* Sombra más grande */
}

/* Animación de fondo para el hover */
@keyframes btnHoverAnimation {
    0% {
        background-color: #FFA725;
    }
    50% {
        background-color: #e69500; /* Cambio de color a dorado */
    }
    100% {
        background-color: #FFA725;
    }
}

.btn-nav:hover {
    animation: btnHoverAnimation 1s ease-in-out infinite; /* Efecto de animación */
}
