/* Estilos para las imágenes dentro de los Palcos */
.palcos_img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.box_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para asegurarse de que el efecto de hover se mantenga dentro de la caja */
}

.box_img .im-mesas {
    width: 400px; /* Reducimos un poco el tamaño de la imagen */
    height: 400px; /* Reducimos un poco la altura */
    border: 3px solid #FFA725; /* Borde dorado alrededor de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.2s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Agrega una transición suave para el efecto */
}

/* Efecto hover en las imágenes */
.box_img:hover .im-mesas {
    transform: scale(1.00) translateY(-5px); /* Aumenta ligeramente el tamaño y mueve la imagen hacia arriba */
    box-shadow: 0 0 15px rgba(255, 167, 37, 0.7); /* Agrega una sombra para resaltar la imagen */
    filter: brightness(1.2); /* Aumenta el brillo de la imagen */
}

/* Título de las imágenes de los Palcos */
h2 {
    position: absolute;
    top: 10px;
    left: 28%;
    background-color: white;
    color: #fdfcfb;
    font-weight: bold;
    background: #515151;
    border: 1PX solid #FFA725;
    padding: 5PX;
    margin: 05px;
    font-size: 35px;
    z-index: 10; /* Asegura que el texto esté sobre la imagen */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 991px) {
    .palcos_img {
        flex-direction: column; /* Cambia la dirección de las imágenes para apilarse */
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .box_img {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho en pantallas pequeñas */
        padding: 10px;
    }

    .box_img img {
        width: 100%; /* Asegura que las imágenes se ajusten correctamente */
    }

    h2 {
        left: 33%;
        top: 20px;
    }
}
